@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

@media all and (max-width: 550px) {
  html,
  body {
    height: 100%;
  }

  .suck_logo {
    width: 50px;
  }

  body {
    background-image: url(./images/rikke-hembre-GFi8VPjbiyA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
  .suck_logolink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: coral;
    font-size: 2rem;
    z-index: 1000;
  }

  .bar_menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.572);
    border-radius: 5px;
    padding: 8px 8px;
    top: 25px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .bar_menu span {
    width: 30px;
    height: 3px;
    background: coral;
    transition: all 0.3s ease;
    z-index: 1001;
  }
  .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    transform: translate(-100%);
    transition: tranform 0.5s ease;
  }
  .dropdown-menu ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 15vmin 10vmin;
  }
  .dropdown-menu ul li {
    margin: 25px 0;
    font-size: 1.5rem;
  }
  .dropdown-menu ul li a {
    padding: 2vmin;
    color: black;
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .dropdown-menu ul li a:hover {
    color: #ff7e5f;
  }
  .dropdown-menu.active {
    transform: translateY(0);
  }
  .bar_menu.active {
    background-color: white;
  }
  .bar_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7.2px);
    background-color: black;
  }
  .bar_menu.active span:nth-child(2) {
    opacity: 0;
  }
  .bar_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7.2px);
    background-color: black;
  }

  #login_bar {
    margin-top: 40vh;
    text-align: center;
  }
  .login-btnbar {
    background-color: white;
    font-size: 1.7rem;
    padding: 1.8vmin 30vmin;
    color: black;
    border-radius: 5px;
  }

  sup {
    font-size: 0.7rem;
  }
  div.swipe {
    margin: 0 auto;
    width: fit-content;
  }
  .suckright {
    background-color: rgba(0, 0, 0, 0.288);
    color: coral;
    font-size: 2rem;
    margin-top: 180px;
    padding: 10px;
    border-radius: 20px;
  }
  div.createaccount {
    margin-top: 35vh;
    text-align: center;
  }
  div.createaccount a {
    font-size: 1.7rem;
    background: linear-gradient(190deg, coral 60%, rgba(0, 0, 0, 0.647));
    color: bisque;
    padding: 2vmin 18vmin;
    border-radius: 20px;
    text-wrap: nowrap;
  }
  div.login {
    margin-top: 40px;
    text-align: center;
  }
  div.login a {
    font-size: 1.7rem;
    padding: 1.8vmin 27vmin;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    text-wrap: nowrap;
  }

  #loadscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(coral, grey);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  #loading_img {
    width: 95px;
    animation: pulse 0.7s ease-in-out infinite;
  }
  @keyframes pulse {
    0%,
    100% {
      transform: scale(2);
    }
    50% {
      transform: scale(1.2);
    }
  }
}

.splide {
  padding: 10px;
  margin-top: 60px;
  background-color: white;
  color: black;
}
.splide__track {
  width: 95%;
  margin: 10px auto;
}

.splide__slide {
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 2px 2px 3px grey;
  height: fit-content;
}
.characters {
  color: coral;
  font-weight: 600;
  padding: 0.3em 0em;
  font-size: 1.1rem;
}

hr {
  width: 70%;
  margin: 0.5em 0em;
}
.footersocials {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  gap: 30px;
}
.legal,
.careers,
.socials,
.faq {
  display: flex;
  flex-direction: column;
}
.faq {
  padding: 30px;
}
.social {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  gap: 8px;
  flex-wrap: wrap;
}
i {
  font-size: 1.6rem;
  color: black;
  transition: color 0.3s;
}
i:active {
  color: brown;
}
.legal > a,
.careers > a {
  color: black;
  transition: color 0.3s;
}
.legal a:active {
  color: brown;
}
.faq a:active {
  color: brown;
}

.careers a:active {
  color: brown;
}
.geton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 15px;
  gap: 9px;
  text-align: center;
}
.copy a {
  color: black;
}
.copy a:active {
  color: brown;
}
