@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


@media all and (max-width:550px){
    html,body{
        height: 100%;
    }

.suck_logo{
    width: 50px;
}

body{
    background-image: url(./images/rikke-hembre-GFi8VPjbiyA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.suck_logolink{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: coral;
    font-size: 2rem;
    
}

.bar_menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.572);
    border-radius: 5px;
    padding: 6px 8px;
    top: 25px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}
.bar_menu span{
    display: block;
    width: 30px;
    height: 3px;
    background: coral;
    margin: 6px 0;
    transition: all 0.3s ease;
}
.dropdown-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    transform: translate(-100%);
    transition: tranform 0.5s ease;
    z-index: 999;
}
.dropdown-menu ul{
    list-style: disc;
    padding: 15vmin 10vmin;
}
.dropdown-menu ul li{
    margin: 25px 0;
    font-size: 1.5rem;
}
.dropdown-menu ul li a{
    background-color: rgba(0, 0, 0, 0.572);
    padding: 2vmin;
    color: coral;
    text-decoration: none;
    transition: color 0.3s ease;
}
.dropdown-menu ul li a:hover{
    color: #ff7e5f;
}
.dropdown-menu.active{
    transform: translateY(0);
}
.bar_menu.active span:nth-child(1){
    transform: rotate(45deg) translate(7px, 5px);
}
.bar_menu.active span:nth-child(2){
    opacity: 0;
}
.bar_menu.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -7px);
}

#login_bar{
    margin-top: 40vh;
    text-align: center;
}
.login-btnbar{
    background-color: rgba(0, 0, 0, 0.572);
    font-size: 1.7rem;
    padding: 1.8vmin 27vmin;
    color: coral;

}

sup{
    font-size: .7rem;
}
div.swipe{
    margin: 0 auto;
    width: fit-content;

}
.suckright{
    background-color: rgba(0, 0, 0, 0.288);
    color: coral;
    font-size: 2rem;
    margin-top: 180px;
    padding: 10px;
    border-radius: 20px;
    
}
div.createaccount{
    margin-top: 35vh;
    text-align: center;
}
div.createaccount a{
    font-size: 1.7rem;
    background: linear-gradient(190deg, coral 60%, rgba(0, 0, 0, 0.647));
    color: bisque;
    padding: 2vmin 18vmin;
    border-radius: 20px;
    text-wrap: nowrap;
}
div.login{
    margin-top: 40px;
    text-align: center;
    
}
div.login a{
    font-size: 1.7rem;
    padding: 1.8vmin 27vmin;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    text-wrap: nowrap;
    
}

#loadscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(coral, grey);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
#loading_img{
    width: 95px;
    animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse{
    0%,100%{
        transform: scale(2);
    }
    50%{
        transform: scale(1.2);
    }
}

}

